body{
    width: 95%;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
}

.top {
    top: 0;
    height: 200px;
    background-image: url('../images/bgsky3.jpg');
    background-size: cover;
    text-align: center;
    position: relative;
    color: darkblue;
}

.top img {
    position: absolute;
    bottom: 60px;
    right: 90px;
}

.bovenstetitel{
    font-size: 300%;
    margin: 0;
    font-weight: bold;
    font-style: italic;
}
.onderstetitel{
    font-size: 240%;
    margin: 0;
    font-weight: bold;
}

.news {
    display: inline-block;
    float: right;
    width: 25%;
    background-color: #dddddd;
    border: 1px solid #999999;
    box-sizing: border-box;
}
.news p {
    color: #666666;
    font-size: 90%;
    padding: 0 10px;
}
.news h3 {
    color: white;
    background-color: blue;
    font-size: 120%;
    text-align: center;
}

.main {
    width: 75%;
}

.introduction {
    background-color: white;
    color: black;
    margin-right: 30px;
    overflow: hidden;
    text-align: justify;
}

.logo {
    margin-top: 20px;
    float: left;
    margin-right: 20px;
    margin-left: 20px;
}

.introduction span {
    color: blue;
    font-weight: bold;
    font-style: italic;
}

.gallery {
    display: inline-block;
    background-color: #999999;
}

.foto {
    display: inline-block;
    width: 180px;
    height: 180px;
    background-color: white;
    padding: 10px;
    border: 1px dashed #999999;
    margin: 10px;
}

.bottom {
    background-color: #666666;
    color: white;
    line-height: 2em;
    display: flex;
}

.block {
    box-sizing: border-box;
    padding-left: 120px;
    margin-bottom: 20px;
}

.bottom li {
    margin-bottom: 5px;
}

.bottom a {
    color: white;
    text-decoration: underline;
}

.bottom a:hover {
    color: red;
}

footer {
    background-color: white;
    color: black;
    text-align: center;
}