@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Open+Sans&display=swap');

body{
    background-color: #35363a;
    color: #ded4d4;
    font-family: sans-serif;
}

div {
    text-align:center;
}

.area2 {
    width:100px;
    height:100px;
    background:red;
    display:inline-block;
}

.tall2 {
    height:150px;
}

.short2 {
    height:50px;
}

.floaty2{
    float:left;
    background:green;
}

.break2 {
    clear:both;
    background:blue;
}