body {
	font: 1.2em/1.2 Helvetica, aria, sans-serif;
	margin: 0 3%;
}

h1 {
	font-size: 1.8em;
	margin: .9em 0 0 0;
}
h2 {
	font-size: 1.5em;
	margin: 1.5em 0 0 0;
}

img {
	max-width: 100%;
}

.kittens{
	text-align: center;
	display: inline-block;
}

figure {
	background: black;
	border-radius: 5px;
	color: red;
	padding: 10px;
	text-align: center;
}

figcaption {
	font-size: .8em;
}


@media screen and (min-width: 768px) {
	body{
		background-color: #ccccfa;
	}
	.kittens{
		text-align: center;
		display: inline-block;
	}
	.kittens figure {
		display: inline-block;
		margin: 20px;
		width: 40%;
	}
}

@media screen and (min-width: 992px) {
	body{
		background-color: #d7fed0;
	}
	.kittens{
		text-align: center;
		display: inline-block;
	}
	.kittens figure {
		display: inline-block;
		margin: 20px;
		width: 25%;
	}
}