@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Open+Sans&display=swap');

body {
    font-size: 16px;
    background-color: #35363a;
    color: #ded4d4;
    font-family: sans-serif;
}

main {
    display: inline-block;
}

article {
    margin-bottom: 10px;
    overflow: hidden;
    border: solid #ded4d4;
}

h2 {
    font-size: 1.25em;
    padding: 0 10px;
}

p {
    font-size: 1.25em;
    margin-top: 10px;
    margin-bottom: 10px;
}

article:nth-child(even) img {
    float: right;
}

article:nth-child(odd) img {
    float: left;
}

img {
    max-width: 100%;
    padding: 10px;
}

a {
    background-color:#d5322f;
    display:inline-block;
    cursor:pointer;
    color:#ded4d4;
    font-size:17px;
    font-weight:bold;
    padding:5px;
    text-decoration:none;
    text-shadow: #d5322f;
}
a:hover {
    background-color:#8d2c2b;
}
a:active {
    position:relative;
    top:1px;
}

footer {
    text-align: center;
}